In [1]:
# import libraries here
import requests
import pandas as pd
from pandas.io.json import json_normalize
import json
import datetime as dt
import numpy as np
import re
import matplotlib

### Spotify API to get playlist info

In [2]:
df = pd.read_csv('/Users/yazanmasarweh/Desktop/IronHack/Bootcamp/Module_1/Project-Week-3/datasets/SpotifyFeatures.csv')

## Drop some columns to get just metric ones

In [3]:
df1 = df.drop(['key', 'mode', 'time_signature'], axis=1)

In [4]:
for i in df1.columns[4:]:
    print(i)

popularity
acousticness
danceability
duration_ms
energy
instrumentalness
liveness
loudness
speechiness
tempo
valence

# Frequency distribution of all data

In [5]:
for i in df1.columns[4:]:
    df1.hist(i)

In [6]:
df1.describe()

,popularity,acousticness,danceability,duration_ms,energy,instrumentalness,liveness,loudness,speechiness,tempo,valence
count,232725.000000,232725.000000,232725.000000,2.327250e+05,232725.000000,232725.000000,232725.000000,232725.000000,232725.000000,232725.000000,232725.000000
mean,41.127502,0.368560,0.554364,2.351223e+05,0.570958,0.148301,0.215009,-9.569885,0.120765,117.666585,0.454917
std,18.189948,0.354768,0.185608,1.189359e+05,0.263456,0.302768,0.198273,5.998204,0.185518,30.898907,0.260065
min,0.000000,0.000000,0.056900,1.538700e+04,0.000020,0.000000,0.009670,-52.457000,0.022200,30.379000,0.000000
25%,29.000000,0.037600,0.435000,1.828570e+05,0.385000,0.000000,0.097400,-11.771000,0.036700,92.959000,0.237000
50%,43.000000,0.232000,0.571000,2.204270e+05,0.605000,0.000044,0.128000,-7.762000,0.050100,115.778000,0.444000
75%,55.000000,0.722000,0.692000,2.657680e+05,0.787000,0.035800,0.264000,-5.501000,0.105000,139.054000,0.660000
max,100.000000,0.996000,0.989000,5.552917e+06,0.999000,0.999000,1.000000,3.744000,0.967000,242.903000,1.000000

## All correlations

In [7]:
df1_corr = df1.corr()

## Strong negative correlations from -1.0 to -0.5

In [8]:
df1_corr[(df1_corr >= -1) & (df1_corr <= -0.5)]

,popularity,acousticness,danceability,duration_ms,energy,instrumentalness,liveness,loudness,speechiness,tempo,valence
popularity,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
acousticness,NaN,NaN,NaN,NaN,-0.725576,NaN,NaN,-0.690202,NaN,NaN,NaN
danceability,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
duration_ms,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
energy,NaN,-0.725576,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
instrumentalness,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.506320,NaN,NaN,NaN
liveness,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
loudness,NaN,-0.690202,NaN,NaN,NaN,-0.50632,NaN,NaN,NaN,NaN,NaN
speechiness,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
tempo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
valence,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Moderate negative correlations from -0.5 to -0.3

In [9]:
df1_corr[(df1_corr >= -0.5) & (df1_corr <= -0.3)]

,popularity,acousticness,danceability,duration_ms,energy,instrumentalness,liveness,loudness,speechiness,tempo,valence
popularity,NaN,-0.381295,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
acousticness,-0.381295,NaN,-0.364546,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.325798
danceability,NaN,-0.364546,NaN,NaN,NaN,-0.364941,NaN,NaN,NaN,NaN,NaN
duration_ms,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
energy,NaN,NaN,NaN,NaN,NaN,-0.378957,NaN,NaN,NaN,NaN,NaN
instrumentalness,NaN,NaN,-0.364941,NaN,-0.378957,NaN,NaN,NaN,NaN,NaN,-0.307522
liveness,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
loudness,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
speechiness,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
tempo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
valence,NaN,-0.325798,NaN,NaN,NaN,-0.307522,NaN,NaN,NaN,NaN,NaN

## Weak negative correlations from -0.3 to -0.1

In [10]:
df1_corr[(df1_corr >= -0.3) & (df1_corr <= -0.1)]

,popularity,acousticness,danceability,duration_ms,energy,instrumentalness,liveness,loudness,speechiness,tempo,valence
popularity,NaN,NaN,NaN,NaN,NaN,-0.210983,-0.167995,NaN,-0.151076,NaN,NaN
acousticness,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.238247,NaN
danceability,NaN,NaN,NaN,-0.125781,NaN,NaN,NaN,NaN,NaN,NaN,NaN
duration_ms,NaN,NaN,-0.125781,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.141811
energy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
instrumentalness,-0.210983,NaN,NaN,NaN,NaN,NaN,-0.134198,NaN,-0.177147,-0.104133,NaN
liveness,-0.167995,NaN,NaN,NaN,NaN,-0.134198,NaN,NaN,NaN,NaN,NaN
loudness,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
speechiness,-0.151076,NaN,NaN,NaN,NaN,-0.177147,NaN,NaN,NaN,NaN,NaN
tempo,NaN,-0.238247,NaN,NaN,NaN,-0.104133,NaN,NaN,NaN,NaN,NaN
valence,NaN,NaN,NaN,-0.141811,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Strong positive correlations from 1.0 to 0.5

In [11]:
df1_corr[(df1_corr >= 0.5) & (df1_corr <= 1.0)]

,popularity,acousticness,danceability,duration_ms,energy,instrumentalness,liveness,loudness,speechiness,tempo,valence
popularity,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
acousticness,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
danceability,NaN,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.547154
duration_ms,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
energy,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,0.816088,NaN,NaN,NaN
instrumentalness,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
liveness,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,0.510147,NaN,NaN
loudness,NaN,NaN,NaN,NaN,0.816088,NaN,NaN,1.000000,NaN,NaN,NaN
speechiness,NaN,NaN,NaN,NaN,NaN,NaN,0.510147,NaN,1.000000,NaN,NaN
tempo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
valence,NaN,NaN,0.547154,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000

## Moderate positive correlations from 0.5 to 0.3

In [12]:
df1_corr[(df1_corr >= 0.3) & (df1_corr <= 0.5)]

,popularity,acousticness,danceability,duration_ms,energy,instrumentalness,liveness,loudness,speechiness,tempo,valence
popularity,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.363011,NaN,NaN,NaN
acousticness,NaN,NaN,NaN,NaN,NaN,0.316154,NaN,NaN,NaN,NaN,NaN
danceability,NaN,NaN,NaN,NaN,0.325807,NaN,NaN,0.438668,NaN,NaN,NaN
duration_ms,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
energy,NaN,NaN,0.325807,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.436771
instrumentalness,NaN,0.316154,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
liveness,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
loudness,0.363011,NaN,0.438668,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.399901
speechiness,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
tempo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
valence,NaN,NaN,NaN,NaN,0.436771,NaN,NaN,0.399901,NaN,NaN,NaN

## Weak positive correlations from 0.1 to 0.3

In [13]:
df1_corr[(df1_corr >= 0.1) & (df1_corr <= 0.3)]

,popularity,acousticness,danceability,duration_ms,energy,instrumentalness,liveness,loudness,speechiness,tempo,valence
popularity,NaN,NaN,0.256564,NaN,0.248922,NaN,NaN,NaN,NaN,NaN,NaN
acousticness,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.150935,NaN,NaN
danceability,0.256564,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.134560,NaN,NaN
duration_ms,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
energy,0.248922,NaN,NaN,NaN,NaN,NaN,0.192801,NaN,0.145120,0.228774,NaN
instrumentalness,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
liveness,NaN,NaN,NaN,NaN,0.192801,NaN,NaN,NaN,NaN,NaN,NaN
loudness,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.228364,NaN
speechiness,NaN,0.150935,0.134560,NaN,0.145120,NaN,NaN,NaN,NaN,NaN,NaN
tempo,NaN,NaN,NaN,NaN,0.228774,NaN,NaN,0.228364,NaN,NaN,0.134857
valence,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.134857,NaN

# Comparing Drake, The Weeknd, and AC/DC

In [14]:
drake = df1['artist_name'] == 'Drake'
df_drake = df1.loc[drake]
df_drake = df_drake[['popularity', 'acousticness', 'danceability', 'energy', 'loudness', 'tempo', 'valence']]

In [15]:
df_drake.describe()

,popularity,acousticness,danceability,energy,loudness,tempo,valence
count,477.000000,477.000000,477.000000,477.000000,477.000000,477.000000,477.000000
mean,66.463312,0.195514,0.662675,0.559371,-8.084323,120.606354,0.359821
std,6.931630,0.222539,0.150277,0.174738,2.620956,31.992661,0.195109
min,50.000000,0.000052,0.333000,0.172000,-17.341000,65.041000,0.037100
25%,62.000000,0.031900,0.556000,0.445000,-9.523000,94.542000,0.221000
50%,66.000000,0.102000,0.669000,0.543000,-8.041000,119.917000,0.327000
75%,71.000000,0.304000,0.787000,0.690000,-6.144000,142.072000,0.465000
max,89.000000,0.939000,0.927000,0.920000,-1.474000,201.800000,0.952000

In [19]:
weeknd = df1['artist_name'] == 'The Weeknd'
df_weeknd = df1.loc[weeknd]
df_weeknd = df_weeknd[['popularity', 'acousticness', 'danceability', 'energy', 'loudness', 'tempo', 'valence']]

In [20]:
df_weeknd.describe()

,popularity,acousticness,danceability,energy,loudness,tempo,valence
count,218.000000,218.000000,218.000000,218.000000,218.000000,218.000000,218.000000
mean,66.137615,0.270197,0.584674,0.599986,-7.370271,125.924220,0.332842
std,8.170948,0.222812,0.115719,0.130828,1.875058,29.475195,0.181950
min,48.000000,0.004340,0.287000,0.291000,-12.755000,74.809000,0.053900
25%,60.000000,0.079600,0.505000,0.505000,-8.275000,109.919000,0.188250
50%,66.000000,0.190000,0.599000,0.624000,-7.209000,120.104000,0.327500
75%,71.000000,0.426000,0.660000,0.690000,-5.946000,140.035000,0.431750
max,85.000000,0.913000,0.853000,0.897000,-2.463000,203.585000,0.864000

In [21]:
ac_dc = df1['artist_name'] == 'AC/DC'
df_ac_dc = df1.loc[ac_dc]
df_ac_dc = df_ac_dc[['popularity', 'acousticness', 'danceability', 'energy', 'loudness', 'tempo', 'valence']]

In [22]:
df_ac_dc.describe()

,popularity,acousticness,danceability,energy,loudness,tempo,valence
count,38.000000,38.000000,38.000000,38.000000,38.000000,38.000000,38.000000
mean,63.868421,0.041869,0.515868,0.840868,-4.782658,125.949026,0.515421
std,8.207350,0.085577,0.094285,0.087927,0.799008,19.188680,0.150456
min,53.000000,0.000048,0.290000,0.635000,-6.326000,91.134000,0.200000
25%,59.000000,0.001086,0.462500,0.771250,-5.281750,116.768750,0.420500
50%,62.000000,0.005325,0.528000,0.860500,-4.933000,126.864000,0.501000
75%,67.250000,0.036600,0.571500,0.905500,-4.314500,135.119500,0.603750
max,84.000000,0.438000,0.754000,0.978000,-2.356000,188.386000,0.839000

# Comparing Genres

In [23]:
df1.head()

,genre,artist_name,track_name,track_id,popularity,acousticness,danceability,duration_ms,energy,instrumentalness,liveness,loudness,speechiness,tempo,valence
0,Movie,Henri Salvador,C'est beau de faire un Show,0BRjO6ga9RKCKjfDqeFgWV,0,0.611,0.389,99373,0.910,0.000,0.3460,-1.828,0.0525,166.969,0.814
1,Movie,Martin & les fées,Perdu d'avance (par Gad Elmaleh),0BjC1NfoEOOusryehmNudP,1,0.246,0.590,137373,0.737,0.000,0.1510,-5.559,0.0868,174.003,0.816
2,Movie,Joseph Williams,Don't Let Me Be Lonely Tonight,0CoSDzoNIKCRs124s9uTVy,3,0.952,0.663,170267,0.131,0.000,0.1030,-13.879,0.0362,99.488,0.368
3,Movie,Henri Salvador,Dis-moi Monsieur Gordon Cooper,0Gc6TVm52BwZD07Ki6tIvf,0,0.703,0.240,152427,0.326,0.000,0.0985,-12.178,0.0395,171.758,0.227
4,Movie,Fabien Nataf,Ouverture,0IuslXpMROHdEPvSl1fTQK,4,0.950,0.331,82625,0.225,0.123,0.2020,-21.150,0.0456,140.576,0.390

In [24]:
df1.genre.unique()

array(['Movie', 'R&B', 'A Capella', 'Alternative', 'Country', 'Dance',
       'Electronic', 'Anime', 'Folk', 'Blues', 'Opera', 'Hip-Hop',
       "Children's Music", 'Children’s Music', 'Rap', 'Indie',
       'Classical', 'Pop', 'Reggae', 'Reggaeton', 'Jazz', 'Rock', 'Ska',
       'Comedy', 'Soul', 'Soundtrack', 'World'], dtype=object)

In [25]:
rock = df1['genre'] == 'Rock'
df_rock = df1.loc[rock]
df_rock = df_rock[['popularity', 'acousticness', 'danceability', 'energy', 'loudness', 'tempo', 'valence']]

In [26]:
df_rock.mean()

popularity       59.619392
acousticness      0.196429
danceability      0.538292
energy            0.683670
loudness         -7.285875
tempo           122.629630
valence           0.517113
dtype: float64

In [27]:
pop = df1['genre'] == 'Pop'
df_pop = df1.loc[pop]
df_pop = df_pop[['popularity', 'acousticness', 'danceability', 'energy', 'loudness', 'tempo', 'valence']]

In [28]:
df_pop.mean()

popularity       66.590667
acousticness      0.224819
danceability      0.640236
energy            0.642208
loudness         -6.495423
tempo           121.175844
valence           0.481371
dtype: float64

# Creating a boringness metric

In [29]:
# boringness = loudness + tempo + (energy*100) + (danceability*100)

df1['boringness'] = round(df1['loudness'] + df1['tempo'] + (df1['energy'] * 100) + (df1['danceability'] * 100),-1)

In [30]:
df1.head()

,genre,artist_name,track_name,track_id,popularity,acousticness,danceability,duration_ms,energy,instrumentalness,liveness,loudness,speechiness,tempo,valence,boringness
0,Movie,Henri Salvador,C'est beau de faire un Show,0BRjO6ga9RKCKjfDqeFgWV,0,0.611,0.389,99373,0.910,0.000,0.3460,-1.828,0.0525,166.969,0.814,300.0
1,Movie,Martin & les fées,Perdu d'avance (par Gad Elmaleh),0BjC1NfoEOOusryehmNudP,1,0.246,0.590,137373,0.737,0.000,0.1510,-5.559,0.0868,174.003,0.816,300.0
2,Movie,Joseph Williams,Don't Let Me Be Lonely Tonight,0CoSDzoNIKCRs124s9uTVy,3,0.952,0.663,170267,0.131,0.000,0.1030,-13.879,0.0362,99.488,0.368,170.0
3,Movie,Henri Salvador,Dis-moi Monsieur Gordon Cooper,0Gc6TVm52BwZD07Ki6tIvf,0,0.703,0.240,152427,0.326,0.000,0.0985,-12.178,0.0395,171.758,0.227,220.0
4,Movie,Fabien Nataf,Ouverture,0IuslXpMROHdEPvSl1fTQK,4,0.950,0.331,82625,0.225,0.123,0.2020,-21.150,0.0456,140.576,0.390,180.0

In [80]:
df_boring = df1.to_csv('/Users/yazanmasarweh/Desktop/IronHack/Bootcamp/Module_1/Project-Week-3/boringness.csv')

# Combining Kevin's csvs by country

In [31]:
df_jordan = pd.read_csv('/Users/yazanmasarweh/Desktop/IronHack/Bootcamp/Module_1/Project-Week-3/datasets/kevin/top_artist_jordan.csv')

In [32]:
df_cuba = pd.read_csv('/Users/yazanmasarweh/Desktop/IronHack/Bootcamp/Module_1/Project-Week-3/datasets/kevin/top_artist_cuba.csv')

In [33]:
df_australia = pd.read_csv('/Users/yazanmasarweh/Desktop/IronHack/Bootcamp/Module_1/Project-Week-3/datasets/kevin/top_artist_australia.csv')

In [34]:
df_netherlands = pd.read_csv('/Users/yazanmasarweh/Desktop/IronHack/Bootcamp/Module_1/Project-Week-3/datasets/kevin/top_artist_netherlands.csv')

In [35]:
df_spain = pd.read_csv('/Users/yazanmasarweh/Desktop/IronHack/Bootcamp/Module_1/Project-Week-3/datasets/kevin/top_artist_spain.csv')

In [36]:
df_switzerland = pd.read_csv('/Users/yazanmasarweh/Desktop/IronHack/Bootcamp/Module_1/Project-Week-3/datasets/kevin/top_artist_switzerland.csv')

In [37]:
df_zimbabwe = pd.read_csv('/Users/yazanmasarweh/Desktop/IronHack/Bootcamp/Module_1/Project-Week-3/datasets/kevin/top_artist_zimbabwe.csv')

In [38]:
df_countries = pd.concat([df_jordan, df_cuba, df_australia, df_netherlands, df_spain, df_switzerland, df_zimbabwe])
df_countries

    Unnamed: 0  rank             artist   country
0            0     1       Lana Del Rey    Jordan
1            1     2         Pink Floyd    Jordan
2            2     3              Queen    Jordan
3            3     4           Coldplay    Jordan
4            4     5         The Weeknd    Jordan
..         ...   ...                ...       ...
45          45    46  Twenty One Pilots  Zimbabwe
46          46    47        Snow Patrol  Zimbabwe
47          47    48               P!nk  Zimbabwe
48          48    49      Elvis Presley  Zimbabwe
49          49    50     The Beach Boys  Zimbabwe

[350 rows x 4 columns]

In [37]:
df_countires = df_countries.to_csv('/Users/yazanmasarweh/Desktop/IronHack/Bootcamp/Module_1/Project-Week-3/datasets/country_chart.csv')

In [39]:
lana_del_rey = df1['artist_name'] == 'Lana Del Rey'
df_lana = df1.loc[lana_del_rey]
df_lana = df_lana[['popularity', 'acousticness', 'danceability', 'energy', 'loudness', 'tempo', 'valence']]

In [40]:
df_lana.describe()

,popularity,acousticness,danceability,energy,loudness,tempo,valence
count,82.000000,82.000000,82.000000,82.000000,82.000000,82.000000,82.000000
mean,61.036585,0.290019,0.482512,0.625744,-7.293402,119.154280,0.275154
std,6.397232,0.221242,0.115694,0.141052,1.737262,29.534215,0.155023
min,45.000000,0.001930,0.205000,0.284000,-11.487000,65.627000,0.037900
25%,56.250000,0.091625,0.385750,0.529000,-8.526000,99.931750,0.143250
50%,61.000000,0.257000,0.514500,0.639500,-7.132500,116.031000,0.235000
75%,65.750000,0.486250,0.557000,0.696000,-5.949000,131.988000,0.409500
max,74.000000,0.834000,0.760000,0.946000,-3.821000,203.944000,0.668000

In [41]:
radiohead = df1['artist_name'] == 'Radiohead'
df_radiohead = df1.loc[radiohead]
df_radiohead = df_radiohead[['popularity', 'acousticness', 'danceability', 'energy', 'loudness', 'tempo', 'valence']]

In [42]:
df_radiohead.describe()

,popularity,acousticness,danceability,energy,loudness,tempo,valence
count,211.000000,211.000000,211.000000,211.000000,211.000000,211.000000,211.000000
mean,58.563981,0.308520,0.416825,0.562019,-9.558810,121.724327,0.317575
std,6.804021,0.323248,0.151668,0.221608,2.498156,29.998925,0.221304
min,46.000000,0.000124,0.127000,0.128000,-17.536000,58.993000,0.037900
25%,54.000000,0.048900,0.293000,0.393000,-11.195000,91.910000,0.145000
50%,58.000000,0.167000,0.426000,0.505000,-9.129000,125.636000,0.226000
75%,61.000000,0.660000,0.537000,0.757000,-7.800000,148.951000,0.446500
max,82.000000,0.968000,0.721000,0.977000,-4.993000,175.699000,0.847000

In [43]:
coldplay = df1['artist_name'] == 'Coldplay'
df_coldplay = df1.loc[coldplay]
df_coldplay = df_coldplay[['popularity', 'acousticness', 'danceability', 'energy', 'loudness', 'tempo', 'valence']]

In [44]:
df_coldplay.describe()

,popularity,acousticness,danceability,energy,loudness,tempo,valence
count,21.000000,21.000000,21.000000,21.000000,21.000000,21.000000,21.000000
mean,72.666667,0.158764,0.518714,0.660333,-6.754905,127.510524,0.283019
std,5.944185,0.225743,0.087459,0.146864,1.473700,22.905394,0.112707
min,64.000000,0.001930,0.397000,0.405000,-9.155000,84.990000,0.094400
25%,68.000000,0.007130,0.430000,0.585000,-7.227000,116.707000,0.203000
50%,71.000000,0.048500,0.523000,0.661000,-7.076000,129.540000,0.261000
75%,78.000000,0.206000,0.565000,0.743000,-6.186000,139.755000,0.355000
max,84.000000,0.727000,0.738000,0.924000,-3.516000,173.365000,0.529000

In [45]:
al_green = df1['artist_name'] == 'Al Green'
df_al_green = df1.loc[al_green]
df_al_green = df_al_green[['popularity', 'acousticness', 'danceability', 'energy', 'loudness', 'tempo', 'valence']]

In [46]:
df_al_green.describe()

,popularity,acousticness,danceability,energy,loudness,tempo,valence
count,94.000000,94.000000,94.000000,94.000000,94.000000,94.000000,94.000000
mean,42.319149,0.348698,0.669457,0.416713,-10.794500,113.626777,0.640500
std,9.905155,0.178027,0.114455,0.105765,2.786488,26.098738,0.202596
min,24.000000,0.017300,0.366000,0.189000,-16.477000,75.288000,0.148000
25%,35.000000,0.220000,0.581750,0.360000,-13.059000,94.661750,0.490500
50%,40.000000,0.340000,0.685000,0.398000,-10.711500,109.432000,0.644500
75%,46.000000,0.477000,0.768000,0.471000,-8.582000,138.362000,0.814000
max,76.000000,0.694000,0.848000,0.720000,-6.010000,172.364000,0.962000

# Creating boringness metrics and analysis

In [47]:
df_jordan = df_jordan.rename(columns={'artist':'artist_name'})

In [48]:
df_boring = pd.read_csv('/Users/yazanmasarweh/Desktop/IronHack/Bootcamp/Module_1/Project-Week-3-Data-Thieves/yazan/datasets/boringness.csv')

In [49]:
df_merge_jordan = pd.merge(df_jordan, df_boring, on='artist_name')

In [70]:
df_merge_jordan.describe()

,Unnamed: 0_x,rank,Unnamed: 0_y,popularity,acousticness,danceability,duration_ms,energy,instrumentalness,liveness,loudness,speechiness,tempo,valence,boringness
count,4999.000000,4999.000000,4999.000000,4999.000000,4999.000000,4999.000000,4.999000e+03,4999.000000,4999.000000,4999.000000,4999.000000,4999.000000,4999.000000,4999.000000,4999.000000
mean,21.833167,22.833167,102664.853171,61.470294,0.209300,0.583585,2.478076e+05,0.646567,0.061063,0.204513,-7.275062,0.110933,120.503176,0.459087,236.211242
std,13.220260,13.220260,65348.807229,10.246202,0.247640,0.155207,8.280571e+04,0.193848,0.180728,0.166443,3.152202,0.117987,29.334839,0.229763,40.010605
min,0.000000,1.000000,136.000000,0.000000,0.000001,0.127000,3.309300e+04,0.019600,0.000000,0.012000,-33.350000,0.023100,34.717000,0.020500,50.000000
25%,11.000000,12.000000,54938.500000,55.000000,0.020250,0.476000,2.057865e+05,0.505000,0.000000,0.101000,-8.912500,0.036300,96.786000,0.281500,210.000000
50%,20.000000,21.000000,108866.000000,61.000000,0.096400,0.592000,2.361330e+05,0.670000,0.000016,0.136000,-6.719000,0.054800,119.403000,0.437000,240.000000
75%,34.000000,35.000000,151550.000000,68.000000,0.325000,0.694000,2.784020e+05,0.799000,0.003320,0.260000,-5.066000,0.136000,138.069500,0.630000,260.000000
max,49.000000,50.000000,229830.000000,100.000000,0.994000,0.962000,2.731067e+06,0.997000,0.994000,0.986000,0.496000,0.883000,217.538000,0.977000,340.000000

## Create a summary of all means of audio features of Jordan

In [65]:
df_avg_jordan = pd.DataFrame(df_merge_jordan.mean())
df_avg_jordan['index']= 1
df_avg_jordan

                              0  index
Unnamed: 0_x          21.833167      1
rank                  22.833167      1
Unnamed: 0_y      102664.853171      1
popularity            61.470294      1
acousticness           0.209300      1
danceability           0.583585      1
duration_ms       247807.635127      1
energy                 0.646567      1
instrumentalness       0.061063      1
liveness               0.204513      1
loudness              -7.275062      1
speechiness            0.110933      1
tempo                120.503176      1
valence                0.459087      1
boringness           236.211242      1

In [84]:
df_merge_jordan.to_csv('/Users/yazanmasarweh/Desktop/IronHack/Bootcamp/Module_1/Project-Week-3-Data-Thieves/yazan/datasets/merge_jordan.csv')

In [35]:
df_spain = df_spain.rename(columns={'artist':'artist_name'})

In [89]:
df_merge_spain = pd.merge(df_spain, df_boring, on='artist_name')

## Create a summary of all means of audio features of Spain

In [90]:
df_avg_spain = pd.DataFrame(df_merge_spain.mean())
df_avg_spain

                              0
Unnamed: 0_x          21.845288
rank                  22.845288
Unnamed: 0_y       99069.910149
popularity            60.785578
acousticness           0.196733
danceability           0.578171
duration_ms       249289.074971
energy                 0.658416
instrumentalness       0.080438
liveness               0.205831
loudness              -7.266581
speechiness            0.112954
tempo                120.955369
valence                0.454993
boringness           237.285387

In [85]:
df_merge_spain.to_csv('/Users/yazanmasarweh/Desktop/IronHack/Bootcamp/Module_1/Project-Week-3-Data-Thieves/yazan/datasets/merge_spain.csv')

In [91]:
df_switzerland = df_switzerland.rename(columns={'artist':'artist_name'})

In [92]:
df_merge_switzerland = pd.merge(df_switzerland, df_boring, on='artist_name')

## Create a summary of all means of audio features of Switzerland

In [47]:
df_avg_switzerland = pd.DataFrame(df_merge_switzerland.mean())
df_avg_switzerland

                              0
Unnamed: 0_x          24.527603
rank                  25.527603
Unnamed: 0_y      106211.318447
popularity            58.438510
acousticness           0.262283
danceability           0.572909
duration_ms       248775.711849
energy                 0.617932
instrumentalness       0.093276
liveness               0.199313
loudness              -8.126977
speechiness            0.093808
tempo                120.050072
valence                0.454273
boringness           231.007166

In [86]:
df_merge_switzerland.to_csv('/Users/yazanmasarweh/Desktop/IronHack/Bootcamp/Module_1/Project-Week-3-Data-Thieves/yazan/datasets/merge_switzerland.csv')

## Comparing Jordan vs Spain and Spain vs Switzerland

In [51]:
df_jordan_vs_spain = df_avg_jordan - df_avg_spain
df_jordan_vs_spain.to_csv('/Users/yazanmasarweh/Desktop/IronHack/Bootcamp/Module_1/Project-Week-3-Data-Thieves/yazan/datasets/jordan_vs_spain.csv')

In [52]:
df_spain_vs_switzerland = df_avg_spain - df_avg_switzerland
df_spain_vs_switzerland.to_csv('/Users/yazanmasarweh/Desktop/IronHack/Bootcamp/Module_1/Project-Week-3-Data-Thieves/yazan/datasets/spain_vs_switzerland.csv')

## Grouping boringness by count

In [130]:
jordan_boringness_count = pd.DataFrame(df_merge_jordan['boringness'].value_counts())
jordan_boringness_count.to_csv('/Users/yazanmasarweh/Desktop/IronHack/Bootcamp/Module_1/Project-Week-3-Data-Thieves/yazan/datasets/jordan_boringness_count.csv')

In [100]:
spain_boringness_count = pd.DataFrame(df_merge_spain['boringness'].value_counts())
spain_boringness_count.to_csv('/Users/yazanmasarweh/Desktop/IronHack/Bootcamp/Module_1/Project-Week-3-Data-Thieves/yazan/datasets/spain_boringness_count.csv')

In [101]:
switzerland_boringness_count = pd.DataFrame(df_merge_switzerland['boringness'].value_counts())
switzerland_boringness_count.to_csv('/Users/yazanmasarweh/Desktop/IronHack/Bootcamp/Module_1/Project-Week-3-Data-Thieves/yazan/datasets/switzerland_boringness_count.csv')

In [106]:
switzerland_boringness_count.max()

boringness    431
dtype: int64

In [132]:
df_boringness_range = pd.DataFrame(pd.RangeIndex(start=0, stop=560, step=10))
df_boringness_range.to_csv('/Users/yazanmasarweh/Desktop/IronHack/Bootcamp/Module_1/Project-Week-3-Data-Thieves/yazan/datasets/boringness_ranges.csv')